# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ftsepzfndwsjhlbfvbfr.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_3ryssvROHofeNG_SwiGQig_Z6PM6Ig7

# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:4000/api

# Firebase Google Authentication
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyA9TMIV6N2QbNrKHG8LfPjBUJ_wLuXrpUE"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="uiu-adda-k.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_DATABASE_URL="https://uiu-adda-k-default-rtdb.asia-southeast1.firebasedatabase.app"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="uiu-adda-k"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="uiu-adda-k.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="821717072907"
NEXT_PUBLIC_FIREBASE_APP_ID="1:821717072907:web:0acba912d0796ee8ac9b0e"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-J600HE7B3R"
