# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ftsepzfndwsjhlbfvbfr.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_3ryssvROHofeNG_SwiGQig_Z6PM6Ig7

# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:4000/api

